/*FONTS*/
@font-face {
    font-family: Questrial;
    src: url(../fonts/Questrial-Regular.ttf);
}
/*COLOURS*/
:root {
  --dark: #3D3D3D;
  --dark2: #6D6D6D;
  --light: #F1EEE8; 
  --red: #F55456;
  --green: #25D366;
  --main: #eb4d4b;
  --secondary: #14AACF;
}

/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
input:focus {
    border:none;
    outline:none;
}
ul {
    list-style-type:none;
}
h1,h2,h3,h4,h5{
    font-weight:100;
}
*, ::after, ::before {
    box-sizing: initial;
}
/*MAIN*/
html,body,form{
    height: 100%;
}
body {
    font-family: Questrial,verdana;
    /*background: var(--dark);*/
    background: linear-gradient(to right, var(--dark), var(--dark2));
    color: var(--light);
    background: url('../img/ct-5.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    line-height:normal;
}
.effect {
    transition:0.1s;
}
.effect:hover {
    transition:0.1s;
}
.main-container{
    height: 100%;
}
.nav,.main-body{
    height: 92%;
}
.shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    /*box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;*/
}
.shadow-r {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px 0px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    /*box-shadow: rgba(240, 46, 170, 0.4) 5px 5px;*/
}
/*HEADER*/
.main-header{
    /*background: #4A4A4A;*/
    height: 8%;
    z-index: 1;
    display:flex;
}
.head-logo{
    height: 100%;
    flex: 1;
    position: relative;
}
.head-logo img{
    height: 100%;
    float: left;
}
.head-logo .head-title {
    display: table;
    float: left;
    height: inherit;
    margin-left: 1rem;
}
.head-logo .head-title > h1 {
    display: table-cell; 
    vertical-align: middle; 
    text-align: center;
    font-size: 1.6rem;
}
.head-search {
    flex:2;
    position:relative;
}
.head-search input {
    font-family: questrial;
    /*background: #3d3d3d;*/
    border: none;
    padding: 8px 8px 8px 15px;
    width: 95%;
    /*border-radius: 50px;*/
    border-radius: 8px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 20%;
    color:#F1EEE8;
}
.head-search i {
    /*color: #4A4A4A;*/
    position: absolute;
    right: 11px;
    top: 0;
    bottom: 0;
    margin: auto;
    /*width: 1rem;
    height: 1.4rem;*/
    font-size: 1.4rem;
    color: var(--light);
    background: var(--main);
    height: 2rem;
    width: 2rem;
    border-radius: 0 8px 8px 0;
    line-height: 2rem;
    padding: 0 8px;
    text-align: center;
    cursor: pointer;
    transition: 0.1s;
}
.head-search i:after {
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -10px;
    margin: auto;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid var(--main);
}
.head-search i:hover {
    color: var(--dark);
    transition: 0.1s;
}
.head-search > div {
    text-align: center;
    line-height: 1.4rem;
    padding: 6px 0;
}
.head-search > div > h1 {
    font-size: 1.1rem;
}
.head-search > div > h2 {
    font-size: 1rem;
}
.head-search > div > h3 {
    font-size: 0.9rem;
}
.head-stats {
    flex:1.2;
    display:flex;
    align-items: center;
}
.stats-time, .stats-date, .stats-status {
    flex:1;
    position:relative;
    text-align:right;
}
.stats-time #time {
    font-size: 2.5rem;
    display: inline-block;
}
.stats-time #time_clock {
    /*float: right;*/
    margin-top: 5px;
    font-size: 1.2rem;
    display:inline-block;
}
.stats-date {
    display:flex;
    flex-direction:column;
}
.stats-date span {
    flex: 1;
    margin: 0 15px;
    text-align: left;
    font-size: 1.2rem;
}
.stats-status {
    display:flex;
    flex-direction:column;
}
.stats-status span {
    flex: 1;
    margin: 4px 15px;
    padding: 4px;
    border-radius: 50px;
}
.stats-status span i{
    margin:0 8px 0 2px;
}
.stats-status #queue_status{
    /*background:#25D366;*/
}
.stats-status #call_status i{
    transform:rotate(-45deg);
    margin-left:5px;
}
.stats-status > span{
    background:rgba(0,0,0,0.2);
}
.stats-date .date-time {
    display:flex;
    flex-direction: column;
}
.stats-date .date-time > span {
}
.head-user {
    flex:1;
    text-align:center;
    /*overflow:hidden;*/
    position:relative;
}
#user_img {
    display: inline-block;
    height: 100%;
    float: left;
    line-height: 126px;
}
#user_img img {
    height:75%
}
#user_name {
    display: inline-block;
    height: 100%;
    float: left;
    line-height: 82px;
    padding-left: 15px
}
#user_name > i {
    padding-left:5px;
    font-size:1.4rem;
}
#user_name > i:active {
    color:#CAC4B9;
}
#user_btn {
    cursor:pointer;
    transition:0.1s;
}
#user_btn:hover {
    color:#F55456;
    transition:0.1s;
}
#user_menu {
    display:none;
    position: absolute;
    left: 180px;
    top: 30px;
    width: auto;
    height: auto;
    color: rgb(61, 61, 61);
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 5px;
    background: rgb(241, 238, 232);
    border-right: 5px solid rgb(245, 84, 86);
}
#user_menu ul li {
    padding: 4px;
    text-align: right;
    transition: 0.1s;
    cursor: pointer;
    position:relative;
}
#user_menu > ul > li:last-child {
    border-top: 1px solid rgba(0,0,0,0.2);
} 
#user_menu > ul > li:hover {
    background:#F55456;
    color:#F1EEE8;
    transition:0.1s;
}
#user_menu > ul li:active {
    background:#E02E2E;
    transition:0.1s;
}
#user_menu ul li ul {
    display:none;
    position: absolute;
    left: -122px;
    top: 0;
    background: #DFDFDD;
}
#user_menu > ul > li:hover ul li {
    color:#4a4a4a;
}
#user_menu > ul > li:active ul li {
    background:#CAC4B9;
}
#user_menu ul li ul li > span {
    display:flex;
    text-align:center;
    font-size: 0.9rem;
}
#user_menu ul li ul li > span span {
    flex: 1;
    transition:0.1s;
    border-radius: 50px;
    margin: 0 1px;
    padding:2px 0;
}
#user_menu ul li ul li > span span:hover {
    transition:0.1s;
}
#dark {
}
#light {
}
/*NAV*/
.nav {
    background:#3d3d3d;
    /*width:3.5rem;*/
    height:92%;
    transition:0.2s;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index:2;
    border-right: 1px solid rgba(0,0,0,0.1);
}
.nav:hover {
    /*width:10rem;*/
    width: 12rem;
    transition:0.2s;
}
.nav ul {
    padding: 8px 0;
    width: 100%;
}
.nav ul li{
    list-style-type:none;
    color: #F1EEE8;
    padding: 10px 4px; 
    /*width:100%;*/
    white-space: nowrap;
    cursor:pointer;
    transition:0.2s;
    position:relative;
}
.nav ul li:after {
    content:"";
    position:absolute;
    top:0;
    right:0;
    height:100%;
    background:var(--main);
    width:0px;
}
.nav ul li:hover:after {
    width:4px;
    transition:0.2s;
}
.nav ul li:hover {
    background:rgba(0,0,0,0.2);
    transition:0.2s;
}
.nav ul li i{
    font-size:1.2rem;
    display:inline-block;
    width:3rem;
    margin: 0;
    text-align:center;
    transition:0.2s;
}
.nav ul li span {
    display: inline-block;
    /*transition:0.2s;*/
    white-space:nowrap;
    overflow:hidden;
    width:0;
    font-size: 0.9rem;
}
.nav:hover li i {
    /*width:15%;
    margin: 0 1rem 0 0.85rem;*/
    transition:0.3s;
}
.nav:hover li span {
    display:inline-block;
    width:100%;
    transition:0.2s;
}
.active-nav {
    background:var(--main);
}
.active-nav:hover {
    background:var(--secondary)!important;
}
.nav ul li .nav-out {
    position: absolute;
    background: #3d3d3d;
    width: 0;
    top: 0;
    left: 10rem;
    overflow: hidden;
    transition: 0.2s;
}
.nav ul li .nav-out:after {
    content:"";
    position:absolute;
    top:0;
    right:0;
    height:100%;
    background: var(--main);
    width:0px;
}
.nav ul li .nav-out a {
    display: block;
    color: #F1EEE8;
    padding: 2px 2px 2px 10px; 
    font-size: 0.8rem;
    text-decoration: none;
}
.nav ul #useful:hover > div {
    width: 200px;
}
/*CHAT*/
.chat{
    /*background: #4A4A4A;*/
    width: 4%;
    box-shadow: -1px 0 5px rgba(0,0,0,0.1);
    position: fixed;
    right: 0;
    height: 100%;
    top: 0;
    /*border-left: 2px solid #3d3d3d;*/
}
.chat-head{
    height: 8%;
    position: relative;  
    cursor:pointer;
    background:#0093C9;
}
.chat-head:hover {
    background:#006B94;
}
/*.chat-head:after{
    content:"";
    background:#0093C9;
     position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    z-index:0;
}*/
.chat-head i:first-child{
    font-size: 2.5rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 2.5rem;
    height: 2.5rem;
    z-index:1;
    color:#fff;
}
.chat-head .fa-arrow-down {
    position: absolute;
    bottom: 2px;
    left: 2px;
    transform: rotate(45deg);
    color:rgba(0,0,0,0.2);
}
.chat-body{
    display: flex;
    flex-direction: column;
}
.chatter{
    flex: 1;
    text-align: center;
    margin: 6px 0;
    position: relative;
    cursor: pointer;
    padding:2px 0;
    transition: 0.1s;
}
.chatter:hover{
    background:rgba(0,0,0,0.2);
    transition: 0.1s;
}
.chatter:before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #0093C9;
    transition: 0.1s;
}
.chatter:hover:before {
    width: 8%;
    transition: 0.1s;
}
.chatter img{
    width: 70%;
}
.chatter p {
    display:none;
    position: absolute;
    overflow: hidden;
    min-width: 112px;
    /*right: -31px;*/
    right: 77px;
    top: 10px;
    text-align: right;
    /*background: #4A4A4A;*/
    padding: 4px;
    box-shadow:-1px 0 5px rgba(0,0,0,0.1);
    z-index:10;
}
.chatter p span{
    display: block;
    font-size: 0.8rem;
    margin-top: 2px;
}
.chatter:hover p {
    display:block;
}
.chatter p:after{
    content:"";
    position: absolute;
    left: 0;
    top: 0;
    height:100%;
    width:5%;
}
.avail p:after {
    background:#25D366;
}
.away p:after {
    background:#F55456;
}
.offline p:after {
    background:#3D3D3D;
}
#chat_menu {
    display:none;
    position: absolute;
    left: -145px;
    top: 75px;
    width: auto;
    height: auto;
    background: #F1EEE8;
    color: #3d3d3d;
    z-index: 10;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    border-right: 5px solid #0093C9;
}
#chat_menu ul {    
}
#chat_menu ul li {
    padding: 4px;
    text-align:right;
    transition:0.1s;
}
#chat_menu ul li:hover {
    background:#0093C9;
    color:#F1EEE8;
    transition:0.1s;
}
#chat_menu ul li:active {
    background:#006B94;
    transition:0.1s;
}
/*CHAT STATUSES*/
.chatter:after{
    content:"";
    position: absolute;
    bottom: 0;
    right: 8px;
    width: 1rem;
    height: 1rem;
    border-radius:50%;
    border:2px solid #fff;
}
.avail:after{
    background:#25D366;
}
.away:after{
    background:#F55456;
}
.offline:after{
    background:#4A4A4A;
}
.offline img{
	opacity:0.5;
}
/*BODY*/
.main-body {
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll; /* Hide scrollbars */
}
.main-body::-webkit-scrollbar {
  display: none;
}
.main-body .line {
    flex: 1;
    flex-wrap: wrap;
}
.main-body .line > h2 {
    text-align: center;
    color: var(--dark);
    background: rgba(245,245,245,0.8);
    display: block;
    width: 100%;
}
.main-body > h2 {
    text-align: center;
    color: var(--dark);
    background: rgba(245,245,245,0.8)
}
/*DASHBOARD*/
.carousel {
    display:flex;
    height: 200px;
    width: 90%;
    margin: 0 auto;
    flex: 2;
}
.carousel .platform {
    background: var(--main);
    flex: 1;
    margin: 4px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}
.carousel .p-1 {
    flex: 2;
    background: linear-gradient(to right, #27ae60, #2ecc71);
}
.carousel .p-1:first-child {
    flex: 2;
    background: linear-gradient(to right, #175AFF, #09A1FF);
}
.carousel .p-2 {
    background: linear-gradient(to top right, #333, #444);
    flex: 1;
}
.carousel .platform > div {
    position: absolute;
    width: 100%;
    height: 60%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
}
.carousel .platform .this-one {
    height: 95%;
}
.carousel .p-2 > div {
    height: 55%;
}
.carousel .p-1 > div:after{
    content:"";
    position:absolute;
    width: 330px;
    height: 330px;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin: auto;
    border-radius:50%;
    /*border: 2px solid rgba(255,255,255,0.2);*/
    background: rgba(255,255,255,0.1);
}
.carousel .p-1 > div:before{
    content:"";
    position:absolute;
    width: 400px;
    height: 400px;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin: auto;
    border-radius:50%;
    border: 2px solid rgba(255,255,255,0.2);
}
.carousel .p-box > div:after{
    content:"";
    position:absolute;
    width: 180px;
    height: 160px;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin: auto;
    border-radius:4px;
    background: linear-gradient(to top right, rgba(255,255,255,0.05),rgba(255,255,255,0.15));
    /*border: 1px solid;*/
    /*border-top-color: rgba(255,255,255,0.1);
    border-right-color: rgba(255,255,255,0.2);
    border-bottom-color: rgba(255,255,255,0.3);
    border-left-color: rgba(255,255,255,0.1);*/
}
.carousel .p-box > div:before{
    content:"";
    position:absolute;
    width: 200px;
    height: 180px;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin: auto;
    border-radius:4px;
    border: 1px solid;
    border-top-color: rgba(255,255,255,0.1);
    border-right-color: rgba(255,255,255,0.2);
    border-bottom-color: rgba(255,255,255,0.3);
    border-left-color: rgba(255,255,255,0.1);
}
.carousel .p-pi > div {
    width: 98%;
    height: 98%;
}
.carousel .p-pi > div > p {
    position: absolute;
    top: -1.8rem;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: auto;
    text-align: center;
    height: 2.5rem;
    font-size: 2.5rem !important;
}
.carousel .platform > div > h1 {
    font-weight: 100;
    font-size: 3rem;
}
.carousel .platform > div > h2 {
    font-weight: 100;
    font-size: 2rem;
    position: relative;
}
.carousel .p-2 > div > h2 {
    font-size: 1.8rem;
}
.carousel .p-1 > div .profit {
    /*color: var(--green);*/
}
.carousel .p-1 > div .loss {
    color: var(--red);
}
.carousel .platform > div > h2 > i {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -15rem;
    margin: auto;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 2.5rem;
}
.carousel .platform > div > h2 .fa-sort-up {
    color: var(--green);
}
.carousel .platform > div > h2 .fa-sort-down {
    color: var(--red);
}
.carousel .platform > div > p {
    font-size: 1rem;
    color: rgba(255,255,255,0.6);
    padding: 4px 0;
}
/*ROWS*/
.line {
    /*padding: 4px 0;*/
}
.line > div {
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    /*min-height: 100%;*/
    /*background: rgba(0,0,0,0.8);*/
    background: linear-gradient(to top right, rgba(51, 51, 51, 0.9), rgba(68, 68, 68, 0.9));
}
.line > div > h5 {
    background: var(--main);
    font-weight: 100;
    text-align: center;
}
.camp-wrap {
    flex: 2 !important;
}
.camp-wrap, .app-wrap {
    display: flex;
    /*height: 100px;*/
}
.app-wrap, .lang-wrap {
    flex: 0.5 !important;
}
.camp-wrap > div, .app-wrap > div {
    flex: 1;
    margin: 0 2px;
    text-align: center;
}
.line > div > div > div > h5, .line > div > div > div > div > h5  {
    background: rgba(0,0,0,0.2);
    font-weight: 100;
    padding: 0;
    font-size:0.85rem;
}
.line > div > div > div > p, .line > div > div > div > div > p  {
    padding: 2px 0;
}
.line > div > div > div > div:first-child > p  {
    border-right: 1px solid rgba(0,0,0,0.2);
}
.camp-wrap .contact-block > div, .app-wrap .contact-block > div {
    display: inline-block;
    width: 49%;
}
.camp-wrap .lead-block > div {
    display: inline-block;
    width: 32%;
    margin: 0;
}
.camp-wrap .lead-block > div .fresh {
    color: var(--green);
}
.camp-wrap .lead-block > div .nr {
    color: var(--red);
}
.camp-wrap .lead-block > div .cb {
    color: var(--main);
}
.contact-block > h5,.lead-block > h5 {
    background-color: rgba(245,245,245,0.1);
}
.chart-wrap {
    flex: 4 !important;
}
.doc-wrap {
    flex: 2 !important;
}
.chart-wrap > div,.doc-wrap > div {
    height: 92%;
    text-align: center;
}
/*AGENT PERFORMANCE*/
.agent-ctrl {
    /*display: flex;*/
    height: 120px;
    width: 100%;
    margin: 0 auto;
    flex: none !important ;
    display:none;
}
.agent-ctrl > div {
    /*background: var(--main);*/
    flex: 1 !important;
    margin: 4px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    min-height: 100%;
}
.agent-tot {
    display: flex;
    width: 50%;
    margin: 0 auto;
    flex:none !important;
}
.agent-tot > div {
    flex: 1;
    margin: 0 4px 
}
.agent-tot > div > h5 {
    background: var(--red);
}
.agent-tot > div > div {
    height: 100%;
    padding: 8px 0
}
.agent-tot > div > div > p {
    font-size: 2rem;
}
.agent-wrap {
    display: grid;
    width: 100%;
    margin: 0 auto;
    /*flex: 2 !important;*/
    flex: none;
    /*grid-template-columns: 20% 20% 20% 20% 20%;*/
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
    /*grid-template-rows: 33% 33% 33%;*/
}
.agent-wrap > div {
    /*background: var(--main);*/
    margin: 4px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    transition: 0.1s;
}
.agent-wrap > div:hover {
    background: rgba(0, 147, 201,0.8);
    transition: 0.1s;
}
.agent-wrap > div > h5,.agent-tot > div > h5 {
    padding: 2px 0;
}
.agent-wrap > div:nth-child(2n+1) > h5 {
    background: #16a085;
}
.agent-wrap > div > h4 {
    padding: 1px 0;
    background: rgba(245,245,245,0.2);
    font-size: 0.9rem;
}
.agent-wrap > div > div {
    position:relative;
}
.agent-wrap > div > div > h5 {
    font-size: 0.9rem;
}
.agent-wrap > div > div > i {
    position: absolute;
    top: -18px;
    left: 5px;
    font-size: 1.2rem;
}
.agent-wrap > div > div > .fa-check {
    color: var(--green);
}
.agent-wrap > div > div > .fa-times {
    color: var(--red);
}
.agent-wrap > div .a-overview {
    display: flex;
}
.agent-wrap > div .a-overview > div {
    flex: 1;
}
.agent-wrap > div .a-view {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    height: 85%;
    padding: 4px;
}
.agent-wrap > div .a-view > div {
    /*border: 1px solid red;*/
    position:relative;
    border-right: 2px solid rgba(0,0,0,0.1);
}
.agent-wrap > div .a-view > div:last-child,.agent-wrap > div .a-view > div:nth-child(2) {
    border-right:none;
}
.agent-wrap > div .a-view> div > p {
    background: rgba(245,245,245, 0.2);
}
.agent-wrap > div .a-view:hover > div:first-child > p {
    background: rgba(75, 192, 192, 0.8);
}
.agent-wrap > div .a-view:hover > div:nth-child(2) > p {
    background: rgba(255, 206, 86, 0.8);
}
.agent-wrap > div .a-view:hover > div:nth-child(3) > p {
    background: rgba(255, 99, 132, 0.8);
}
.agent-wrap > div .a-view:hover > div:last-child > p {
    background: rgba(54, 162, 235, 0.8);
}
.agent-wrap > div .a-view > div > span {
    text-align: center;
    line-height:4rem;
    font-size:1.8rem;
}
.agent-wrap > div .a-camp {
    display: flex;
}
.agent-wrap > div .a-camp > div {
    flex: 1;
}
.agent-wrap > div .a-camp > div > p {
    font-size: 0.8rem;
    border-right: 1px solid rgba(245,245,245,0.2);
}
.agent-wrap > div .a-camp > div > p:nth-child(2n+1) {
    border-top: 1px solid rgba(245,245,245,0.2);
    border-bottom: 1px solid rgba(245,245,245,0.2);
}
.agent-wrap > div .a-camp > div:nth-child(2n+1) > p {
    background: rgba(0,0,0,0.15);
}
.agent-wrap > div .a-camp > .a-camp-title > p {
    text-align: right;
    padding-right: 2px;
}
.agent-wrap > div .a-camp > div:last-child > p {
    border-right: none;
}
.agent-hourly > div {
    margin: 0 4px;
}
.agent-hourly > div table {
    width: 100%;
    table-layout: fixed;
}
.agent-hourly > div table th {
    font-weight: 100;
    background: rgba(0,0,0,0.4)
}
.agent-hourly > div table tr:nth-child(2n+1) {
    background: rgba(245,245,245,0.1);
}
.agent-hourly > div table th, .agent-hourly > div table td {
    padding: 2px 0;
    font-size: 0.9rem;
}
.agent-hourly > div table .hl {
    background: var(--main) !important;
}
/*CRAYON REPOR*/
.crayon-ctrl {
    /*display: flex;*/
    height: 65px;
    width: 100%;
    margin: 0 auto;
    flex: none !important ;
    display: none;
}
.crayon-ctrl .crayon-ctrl-box {
    display: flex;
}
.crayon-ctrl .crayon-ctrl-box > div {
    flex: 1;
    font-size: 0.9rem;
    text-align: center;
    border-right: 2px solid rgba(0,0,0,0.1);
}
.crayon-ctrl .crayon-ctrl-box > div > label {
    display: block;
}
.crayon-ctrl .crayon-ctrl-box > div > input {
    cursor: pointer;
    width: 20px;
    height: 20px;
}
.crayon-ctrl > div {
    /*background: var(--main);*/
    flex: 1 !important;
    margin: 4px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    min-height: 100%;
}
.crayon-wrap {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex: 4 !important;
}
.crayon-wrap > div {
    /*background: var(--main);*/
    margin: 4px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    flex: 1;
    transition: 0.1s;
}
.crayon-wrap > div:nth-child(2n) > h5 {
    background: var(--secondary)
}
.crayon-wrap > div:last-child > h5 {
    background: var(--green) 
}
.crayon-wrap > div:last-child{
    background: rgba(37, 211, 102,0.8);
}
.crayon-wrap > div:hover {
    background: rgba(0, 147, 201,0.8);
    transition: 0.1s;
}
.crayon-wrap > div:last-child:hover {
    background: rgba(37, 211, 102,0.8);
    transition: 0.1s;
}
.crayon-wrap .crayon-box {
    display: flex;
    flex-direction: column;
    height: 97%;
}
.crayon-wrap .crayon-box .crayon {
    flex: 1;
    display: flex;
    flex-direction: column;
    transition: 0.1s;
}
.crayon-wrap .crayon-box .crayon:nth-child(2n+1) {
    background: rgba(0,0,0,0.4);
}
.crayon-wrap .crayon-box .crayon:hover {
    background: rgba(37, 211, 102,0.8);
    transition: 0.1s;
}
.crayon-wrap .crayon-box .crayon > p {
    color: var(--light);
    font-size: 0.9rem;
    background: rgba(245,245,245,0.2);
    flex: 1;
}
.crayon-wrap .crayon-box .crayon > span {
    color: var(--light);
    font-size: 1.2rem;
    display: inline-block;
    flex: 4;
    line-height: 3.2rem;
}
.crayon-wrap .crayon-box .crayon > div {
    flex: 4;
}
.crayon-wrap .crayon-box .crayon > div > span {
    color: var(--light);
    font-size: 1.2rem;
    display: inline-block;
    line-height: 3.2rem;
    width: 50%;
}
.crayon-wrap .crayon-box .crayon:last-child > span,.crayon-wrap .crayon-box .crayon:nth-last-child(2) > span {
    font-size: 1rem;
}
.query-ctrl {
    flex: none !important;
    height: 22%;
}
.query-body {
    flex: none !important;
    height: 75%;
}
.query-ctrl > div, .query-body > div {
    height: 100%;
}
.query-ctrl-box {
    min-height: 100%;
}
.query-out {
    min-height: 100%;
}
.lang-wrap {
    display: flex;
}
.lang-wrap > div {
    height: 100%;
    flex: 1;
    margin: 0 2px;
}
.lang-wrap > div > div > div {
    flex: 1;
    border-right: 1px solid rgba(0,0,0,0.2);
}
.lang-wrap > div > div > div:last-child {
    border-right: none;
}
.lang-wrap > div > div > div > p {
    background: rgba(245,245,245,0.2);
}
.lang-wrap > div > div > div:nth-child(2n) > p {
    background: rgba(245,245,245,0.1);
}
.lang-wrap > div > div > div > div {
    display: flex;
}
.lang-wrap > div > div > div > div > div {
    flex: 1;
}
.lang-wrap > div > div > div > div > div > p {
    background: rgba(0,0,0,0.2);
    font-size: 0.9rem;
}
.lang-wrap > div > div > div > div > div > span {
    border-right: 1px solid rgba(0,0,0,0.2);
    display: block;
    width: 100%;
}
.lang-wrap > div > div > div > div > div:last-child > span {
    border-right: none;
}
.lead-head {
    flex: none !important;
    width: 80%;
    margin: 0 auto;
}
.lead-head > div {
    height: 30px;
    line-height: 2rem;
    font-size: 1.5rem;
    background: rgba(245, 84, 86, 0.8);
}
.lead-wrap,.lead-foot {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex: none !important;
}
.lead-wrap > div,.lead-foot > div {
    /*background: var(--main);*/
    margin: 4px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    flex: 1;
    transition: 0.1s;
}
.lead-wrap > div:nth-child(2n) > h5,.lead-foot > div:nth-child(2n) > h5  {
    background: var(--secondary)
}
.lead-wrap > div:last-child > h5,.lead-foot > div:last-child > h5 {
    background: var(--green) 
}
.lead-wrap > div:last-child,.lead-foot > div:last-child {
    background: rgba(37, 211, 102,0.8);
}
.lead-wrap > div:hover,.lead-foot > div:hover {
    background: rgba(0, 147, 201,0.8);
    transition: 0.1s;
}
.lead-wrap > div:last-child:hover,.lead-foot > div:last-child:hover {
    background: rgba(37, 211, 102,0.8);
    transition: 0.1s;
}
.lead-wrap .crayon-box,.lead-foot .crayon-box {
    display: flex;
    flex-direction: column;
    height: 90%;
}
.lead-wrap .crayon-box .crayon,.lead-foot .crayon-box .crayon  {
    flex: 1;
    display: flex;
    flex-direction: column;
    transition: 0.1s;
}
.lead-wrap .crayon-box .crayon:nth-child(2n+1),.lead-foot .crayon-box .crayon:nth-child(2n+1) {
    background: rgba(0,0,0,0.4);
}
.lead-wrap .crayon-box .crayon:hover,.lead-foot .crayon-box .crayon:hover {
    background: rgba(37, 211, 102,0.8);
    transition: 0.1s;
}
.lead-wrap .crayon-box .crayon > p,.lead-foot .crayon-box .crayon > p {
    color: var(--light);
    font-size: 0.9rem;
    background: rgba(245,245,245,0.2);
    flex: 1;
}
.lead-wrap .crayon-box .crayon > span,.lead-foot .crayon-box .crayon > span  {
    color: var(--light);
    font-size: 1.4rem;
    display: block;
    flex: 3;
    line-height: 3.2rem;
}
.doc-wrap > div > div {
    display: flex;
}
.doc-wrap > div > div > div {
    flex: 1;
    border-right: 1px solid rgba(0,0,0,0.2);
}
.doc-wrap > div > div > div:last-child {
    border-right: none;
}
.doc-wrap > div > div > div > p {
    background: rgba(245,245,245,0.2);
}
.doc-wrap > div > div > div:nth-child(2n) > p {
    background: rgba(245,245,245,0.1);
}
.doc-wrap > div > div > div > div {
    display: flex;
}
.doc-wrap > div > div > div > div > div {
    flex: 1;
}
.doc-wrap > div > div > div > div > div > p {
    background: rgba(0,0,0,0.2);
    font-size: 0.9rem;
}
.doc-wrap > div > div > div > div > div > span {
    border-right: 1px solid rgba(0,0,0,0.2);
    display: block;
    width: 100%;
}
.doc-wrap > div > div > div > div > div:last-child > span {
    border-right: none;
}
.camp-strength-wrap > div > div {
    display: flex;
}
.camp-strength-wrap > div > div > div {
    flex: 1;
    border-right: 1px solid rgba(0,0,0,0.2);
}
.camp-strength-wrap > div > div > div:last-child {
    border-right: none;
}
.camp-strength-wrap > div > div > div > p {
    background: rgba(245,245,245,0.2);
}
.camp-strength-wrap > div > div > div:nth-child(2n) > p {
    background: rgba(245,245,245,0.1);
}
.camp-strength-wrap > div > div > div > div {
    display: flex;
}
.camp-strength-wrap > div > div > div > div > div {
    flex: 1;
}
.camp-strength-wrap > div > div > div > div > div > span {
    border-right: 1px solid rgba(0,0,0,0.2);
    display: block;
    width: 100%;
}
.camp-strength-wrap > div > div > div > div > div:last-child > span {
    border-right: none;
}
.camp-alloc-wrap > div > div {
    display: flex;
}
.camp-alloc-wrap > div > div > div {
    flex: 1;
    border-right: 1px solid rgba(0,0,0,0.2);
}
.camp-alloc-wrap > div > div > div:last-child {
    border-right: none;
}
.camp-alloc-wrap > div > div > div > p {
    background: rgba(245,245,245,0.2);
}
.camp-alloc-wrap > div > div > div:nth-child(2n) > p {
    background: rgba(245,245,245,0.1);
}
.camp-alloc-wrap > div > div > div > div {
    display: flex;
}
.camp-alloc-wrap > div > div > div > div > div {
    flex: 1;
}
.camp-alloc-wrap > div > div > div > div > div > span {
    border-right: 1px solid rgba(0,0,0,0.2);
    display: block;
    width: 100%;
}
.camp-alloc-wrap > div > div > div > div > div:last-child > span {
    border-right: none;
}
.agent-alloc-wrap > div > div {
    display: flex;
}
.agent-alloc-wrap > div > div > div {
    flex: 1;
    border-right: 1px solid rgba(0,0,0,0.2);
}
.agent-alloc-wrap > div > div > div:last-child {
    border-right: none;
}
.agent-alloc-wrap > div > div > div > p {
    background: rgba(245,245,245,0.2);
}
.agent-alloc-wrap > div > div > div:nth-child(2n) > p {
    background: rgba(245,245,245,0.1);
}
.agent-alloc-wrap > div > div > div > div {
    display: flex;
}
.agent-alloc-wrap > div > div > div > div > div {
    flex: 1;
}
.agent-alloc-wrap > div > div > div > div > div > span {
    border-right: 1px solid rgba(0,0,0,0.2);
    display: block;
    width: 100%;
}
.agent-alloc-wrap > div > div > div > div > div:last-child > span {
    border-right: none;
}
/*MONTH REPORT*/
.month-box {
    display: flex;
    overflow-x: scroll
}
.month-box > div {
    flex: 1;
    margin: 2px;
    /* background: #666; */
    min-width: fit-content;
    transition: 0.1s;
}
.month-box > div:first-child {
    text-align: right;
    position: fixed;
    background: #1d1d1d;
}
.month-box > div:nth-child(2) {
    padding-left: 180px;
}
.month-box > div > div {
    margin: 4px 2px;
    transition: 0.1s;
}
.month-box > div > div:nth-child(2n+1) {
    background: rgba(245,245,245,0.1);
}
.month-box > div > div:first-child,.month-box > div > div:nth-child(2) {
    background: rgba(245,245,245,0.4);
}
.month-box > div > div > p {
    font-size: 0.9rem;
}
.month-box .spacer {
    background: rgba(245,245,245,0.6) !important;
    height:2px;
}
.month-box .spacer-2 {
    background: rgba(245, 84, 86,0.6) !important;
    height:2px;
}
.month-box > div:hover {
    background: rgba(0, 147, 201,0.8);
    transition: 0.1s;
}
.month-box > div > div:hover {
    background: rgba(37, 211, 102,0.8);
    transition: 0.1s;
}
.month-box > div:first-child:hover {
    background: #1d1d1d;
}
/*DISTRIBUTION*/
.distr-wrap > div {
    margin: 4px 0;
}
.distr-wrap > div h1 {
    
}
.distr-wrap > div h2 {
}
.distr-wrap > div table {
    width: 100%;
    table-layout: fixed;
}
.distr-wrap > div table th {
    font-weight: 100;
    background: rgba(0,0,0,0.4);
    vertical-align: middle;
}
.distr-wrap > div table tr:nth-child(2n+1) {
    background: rgba(245,245,245,0.1);
}
.distr-wrap > div table th, .distr-wrap > div table td {
    padding: 2px 0;
    font-size: 0.9rem;
}
.distr-wrap > div table .hl {
    background: var(--main) !important;
}
/*COLUMNS*/
/*.col1 {
    border-right:2px solid #f9f9f9
}
.col2 {
    border-left:2px solid #f9f9f9
}*/
/*TEST*/
.grid-wrap {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
.grid-wrap > div {
    grid-column: span 1;
    grid-row: span 1;
    margin: 2px;
    transition: 0.1s;
}
.grid-wrap > div:hover {
    background: rgba(192, 57, 43,0.8);
    transition: 0.1s;
}
.grid-wrap > div > div {
    height: 100%;
}
.grid-wrap > div > div iframe {
    height: 100%;
    width: 100%;
}
.grid-wrap .sml-stat {
    text-align: right;
    padding: 8px;
    position: relative;
}
.grid-wrap .sml-stat > span {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 2.4rem;
    height: 100%;
    font-size: 2rem;
    padding: 0 8px;
    background: #2e86de;
    display: table;
}
.grid-wrap .sml-stat:nth-child(2n+1) > span {
    background: #01a3a4;
}
.grid-wrap .sml-stat > span i {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.grid-wrap .sml-stat > div {
    display: flex;
    flex-direction: column;
    position: relative;
}
.grid-wrap .sml-stat h2 {
    flex: 1;
    font-size: 0.9rem;
    position: relative;
}
.grid-wrap .sml-stat h2:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 1px;
    width: 50%;
    background: #fff
}
.grid-wrap .sml-stat h1 {
    flex: 1;
    font-size: 1.75rem;
}
.grid-wrap .sml-stat p {
    color: #25d366;
    font-size: 0.8rem;
    position:absolute;
    right: 0;
    bottom: 0;
    display:none;
}
.grid-wrap .element {
}
.element > div h2 {
    padding: 4px 0;
    background: rgba(0,0,0,0.4);
}
.element > div > img {
    width: 33%;
    display: block;
    margin: 0 auto;
    position:relative;
}
.grid-wrap .element > div > ul {
    margin: 0 auto;
    width: 90%;
}
.grid-wrap .element > div > ul > li {
    text-align: left;
    padding: 4px 0;
}
.grid-wrap .element > div > ul > li > ul > li {
    font-size:0.9rem;
    padding: 4px 0 4px 8px;
}
.grid-wrap .element > div > ul > li > ul > li > ul > li {
    padding: 4px 0 4px 8px;
}
.grid-wrap .element > div > ul > li > ul > li > ul > li > ul > li {
    padding: 4px 0 4px 8px;
}
.grid-wrap .element > div > ul > li > ul > li > ul > li > ul > li > ul > li  {
    padding: 4px 0 4px 8px;
}
/*AVG BLOCKS*/
.avg-wrap {
    display:flex;
    height:75%
}
.avg-wrap > div {
    flex: 1;
    border-right: 1px solid rgba(0,0,0,0.2);
}
.avg-wrap > div:last-child {
    border-right: none;
}
.avg-wrap > div h3 {
    font-size: 0.9rem;
    background:rgba(245,245,245,0.1);
}
/*COUNTRY LIST*/
.country-list {
    overflow: scroll;
}
.country-list .lvl-1 {
    
}
.country-list .lvl-1:last-child {
    
}
.country-list .lvl-2 {
    border-left: 1px solid rgba(255,255,255,0.2);
}
.country-list .lvl-2:last-child {
    border-bottom: 1px solid rgba(255,255,255,0.4);
}
.country-list .lvl-3 {
    border-left: 1px solid rgba(255,255,255,0.2);
}
.country-list .lvl-3:last-child {
    border-bottom: 1px solid rgba(255,255,255,0.4);
}
.country-list .lvl-4 {
    border-left: 1px solid rgba(255,255,255,0.2);
}
.country-list .lvl-4:last-child {
    border-bottom: 1px solid rgba(255,255,255,0.4);
}
.country-list .lvl-5 {
    border-left: 1px solid rgba(255,255,255,0.2);
}
.country-list .lvl-5:last-child {
    border-bottom: 1px solid rgba(255,255,255,0.4);
}
.country-list > div ul {
    /*display:none;*/
}
.country-list > div > ul {
    display:block;
    cursor:pointer;
    transition:0.2s;
}
.country-list > div ul >li {
    text-align: left;
    padding: 2px 0 2px 1rem;
    cursor: pointer;
}
.country-list > div ul li:hover {
    transition:0.2s;
    background: rgba(0,0,0,0.2) !important;
    padding-left: 1.2rem;
}
.country-list .accordion {
    /*overflow-y: scroll*/
}
.country-list .accordion .accordion-item {
    background: inherit;
    border: none;
}
.country-list .accordion-body {
    padding: 8px 0;
}
.country-list .accordion-button {
    padding: 8px;
    width: 90%;
    margin: 0 auto;
    background: inherit;
    color: inherit;
}
/*STATS*/
.stats-wrap, .country-list {
    background: linear-gradient(to top right, rgba(9, 132, 227, 0.9), rgba(116, 185, 255, 0.9)) !important;
    transition:0.2s;
}
.stats-wrap > div {
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
.stats-wrap > div > div {
    grid-column: span 1;
    grid-row: span 1;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 2px;
}
.stats-wrap > div > div:hover {
    background:rgba(192, 57, 43,0.8);
}
.stats-wrap > div > div > h2 {
    padding: 2px 0;
    background: rgba(0,0,0,0.4);
}
/*CHAINS*/
.chains > div > h2 {
    height: 3rem;
}
.chains > div img {
    height:100%;
}
.chains > div .bhe-img {
    width: 75%;
    height: initial;
    margin-top: -17%;
}
.chains .chain-block {
    display: flex;
    flex-direction: column;
}
.chains .chain-block > div {
    flex: 1;
}
.chains .chain-block > div h4 {
    background: rgba(255,255,255,0.1);
    font-size: 0.9rem;
    padding: 2px 0;
}
.chains .chain-block > div p {
    padding: 8px 0;
}
/*TOP PRODUCTS*/
.top-prods {
}
.top-prods table {
    width: 100%;
}
.top-prods table tr {
    font-size:0.9rem;
}
.top-prods table tbody tr:nth-child(2n+1) {
    background: rgba(0,0,0,0.2);
}
.top-prods table th {
    font-weight: 100;
    background: rgba(255,255,255,0.1);
    padding: 2px 0;
    font-size:0.8rem;
    border-right: 1px solid rgba(0,0,0,0.4)
}
.top-prods table th:last-child {
    border-right: none;
}
.top-prods table td {
    padding: 2px 0;
    border-right: 1px solid rgba(255,255,255,0.1)
}
.top-prods table td:last-child {
    border-right: none;
}
/*MONITOR*/
.mon-wrap {
    display: flex;
}
.mon-wrap > div {
    flex: 1;
}
.mon-wrap > div {
    flex: 1;
    max-width: 14%;
    height:98%;
    margin: 0.25rem;
}
.mon-wrap > div:first-child {
    margin-left:0.5rem;
}
.mon-wrap > div:last-child {
    margin-right:0.5rem;
}
.mon-wrap > div > h4 {
    text-align:center;
    font-weight:100;
    margin: 0;
    padding: 4px 0;
    font-size:1.1rem;
    position:relative;
    background: rgba(48, 51, 107,0.8);
    color: #F1EEE8;
}
.mon-wrap > div > div > div {
    padding: 4px 4px;
    margin: 2px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    cursor:pointer;
    transition:0.2s;
}
.mon-wrap > div > div > div:hover {
    background:rgba(0,0,0,0.05);
    transition:0.2s;
}
.mon-wrap > div > div > div > h4 {
    padding: 2px 0 2px 4px;
    font-size:1rem;
    font-weight:100;
    background: #25D366;
    color:#F1EEE8;
    position:relative;
}
.mon-wrap > div > div > div .down {
    background: #F55456;
}
.mon-wrap > div > div > div > h4 i {
    position:absolute;
    right:4px;
}
.mon-wrap > div > div > div > h5 {
    font-size:0.9rem;
    margin-left: 8px;
    font-weight:100;
    font-style:italic;
}
.mon-wrap > div > div > div .status {
    background:rgba(0,0,0,0.05);
    padding:4px 8px;
    margin-top: 2px;
}
.mon-wrap > div > div > div .status > p {
    padding: 1px 0;
    font-size:0.9rem;
}
.mon-wrap > div > div > div .status i {
    float:right;
}
.mon-wrap > div > div > div .status .fa-check-circle {
    color: #25D366;
}
.mon-wrap > div > div > div .status .fa-times-circle {
    color: #F55456;
}
.mon-wrap > div > div > div .status > p > span {
    height:0.7rem;
    width:50%;
    border: 1px solid rgba(0,0,0,0.1);
    display:inline-block;
    float:right;
    padding:3px 0 0;
    margin-top:1px;
    position:relative;
    border-radius:50px;
}
.mon-wrap > div > div > div .status > p > span > span {
    height:100%;
    width:25%;
    position:absolute;
    top:0px;
    bottom:0px;    
    left:0px;
    background:#25D366;
    border-radius:50px;
}
.mon-wrap > div > div > div:nth-child(2) .status > p > span > span {
    width: 50%;
}
.mon-wrap > div > div > div:nth-child(3) .status > p > span > span {
    width: 0%;
}
.mon-wrap > div > div > div:nth-child(4) .status > p > span > span {
    width: 80%;
    background:#FFAE42;
}
.mon-wrap > div > div > div:last-child .status > p > span > span {
    width: 95%;
    background:#F55456;
}
.mon-wrap > div > div > div .status > div > div > p {
    font-size:0.8rem;
    display:inline-block;
}
.mon-wrap > div > div > div .status > div > div > p:last-child{
    float:right;
    color:#9a9a9a;
}





/*THEMES*/
#dark {
    background: #3D3D3D;
    color: #F1EEE8;
}
#light {
    background: #F1EEE8;
    color: #3D3D3D;
}
#dark:hover {
    background: #F55456;
}
#light:hover {
    background: #F55456;
    color: #F1EEE8;
}
.active {
    color: #F1EEE8 !important;
    background:#F55456 !important;
}
.dark {
    background: #3D3D3D;
    color: #F1EEE8;
    border-color:#3d3d3d;
}
.dark-2 {
    background: #4A4A4A;
    border-color:#3d3d3d !important;
}
/*.dark-border {
    border-color:#3d3d3d;
}*/
.light {
    background: #F1EEE8;
    color: #3D3D3D;
    border-color:#F1EEE8 !important;
}
.light-2 {
    background: #DFDFDD;
    border-color:#F1EEE8 !important;
}
/*.light-border {
    border-color:#F1EEE8;
}*/
.clr-1,clr-1:after,.clr-1-hov:hover {
    background:#F55456 !important;
    border-color:#F55456 !important;
}
.clr-1:hover {
    background:rgba(245, 84, 84, 0.8) !important;
}
.clr-2,clr-2:after,.clr-2-hov:hover {
    background:#27ae60 !important;
    border-color:#27ae60 !important;
}
.clr-2:hover {
    background:rgba(39, 174, 98, 0.8) !important;
}
.clr-3,clr-3:after,.clr-3-hov:hover {
    background:#008084 !important;
    border-color:#008084 !important;
}
.clr-3:hover {
    background:rgba(0, 126, 132, 0.8) !important;
}
.clr-4,clr-4:after,.clr-4-hov:hover {
    background:#8e44ad !important;
    border-color:#8e44ad !important;
}
.clr-4:hover {
    background:rgba(141, 68, 173, 0.8) !important;
}
.clrs {
    color: #F1EEE8 !important;
}
.active:after {
    background: #fff !important;
}
.disabled {
    opacity:0.6;
}

@media screen and (max-width: 1550px) {
    .main-body {
        padding-left: 4%;
    }
    .grid-wrap .sml-stat h1,.chains .chain-block > div p {
        font-size: 1.2rem;
    }
    .grid-wrap .sml-stat h2 {
        font-size: 0.8rem;
    }
    .grid-wrap .sml-stat > span {
        width: 2rem;
        font-size: 1.5rem;
    }
    .element > div h2,.stats-wrap > div > div > h2 {
        font-size: 0.9rem;
    }
    .avg-wrap > div h3,.chains .chain-block > div h4 {
        font-size: 0.8rem;
    }
    .head-search > div > h1 {
        font-size:1rem;
    }
    .head-search > div > h2 {
        font-size:0.9rem;
    }
    .head-search > div {
        padding: 5px 0;
    }
    .head-search > div > h3 {
        font-size:0.8rem;
    }
    .accordion-flush .accordion-item .accordion-button {
        font-size: 0.9rem;
    }
    .country-list > div ul > li {
        font-size: 0.9rem;
    }
}